apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflared-public-home-lab
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/thejento/cloudflare.git
    targetRevision: HEAD
    path: tunel/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: cloudflare
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
